*{
    margin: 0px;
    transition: .347s;
}

body{
    min-height: 100vh;
}

.loginBox {
    width: 100%;
}

.icon{
    height: 2.6cm;
    width: 2.6cm;
}

.inputDiv{
    width: 90%;
}
.inputDiv.focus{
    border-color: #0d036b;
}
.inputDiv span{
    background-color: white;
}

.inputDiv.focus span{
    transform: translateY(-.68cm);
}


input{
    top:0px;
    left:0px;
}

.faceID button{
    background-color: rgb(73, 73, 158);
    color: white;
}
.faceID button:disabled{
    color: rgb(21, 141, 21);
    background-color: transparent;
}
.faceID button.varificationFailed{
    color: rgb(255, 0, 0);
    background-color: rgb(222, 222, 226);
}

input[type="submit"]:disabled{
    background-color: rgb(222, 222, 226);
    cursor: not-allowed;
}
.notification_bar{
    background-color: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(10px);
}
.notification{
    height: auto;
    width: auto;
    transform: translateY(-120%);
    overflow: hidden;
}
.notification.show{
    animation: popup .25s forwards;
}

@keyframes popup {
    0%{transform: translateY(-120%);
        height: .1cm;
        width: 2cm;}
    40%{
        transform: translateY(-20%);
        height: .1cm;
        width: 4cm;
    }
    50%{
        transform: translateY(10%) scale(1.02);
        height: auto;
        width: auto;
    }
    60%{
        transform: translateY(0%) scale(0.96);
        height: auto;
        width: auto;
    }
    100%{
        transform: translateY(10%) scale(1.02);
        height: auto;
        width: auto;
    }
}


@media only screen and (min-width: 445px) {
    .inputDiv{
        width: 11cm;
    }
  }