*{
    margin: 0px;
}

body{
    min-height: 100vh;
}

.loginBox {
    width: 100%;
}

.icon{
    height: 2.6cm;
    width: 2.6cm;
}

.inputDiv{
    width: 90%;
}

input{
    top:0px;
    left:0px;
}

@media only screen and (min-width: 400px) {
    .inputDiv{
        width: 11cm;
    }
  }